{% extends "SistemaGarantia/base.html" %}

{% block content %}

<section id="about">

{% if tickets%}
    <h2 class="title" id="titulo" style="text-align: center; margin-bottom: 30px;">
       Estado del Ticket <svg xmlns="http://www.w3.org/2000/svg" width="2rem"
       height="2rem" fill="currentColor" class="bi bi-chat-left-text" viewBox="0 0 16 16">
        <path d="M14 1a1 1 0 0 1 1 1v8a1 1 0 0 1-1 1H4.414A2 2 0 0 0 3 11.586l-2 2V2a1 1 0 0 1 1-1h12zM2 0a2 2 0 0 0-2 2v12.793a.5.5 0 0 0 .854.353l2.853-2.853A1 1 0 0 1 4.414 12H14a2 2 0 0 0 2-2V2a2 2 0 0 0-2-2H2z"/>
        <path d="M3 3.5a.5.5 0 0 1 .5-.5h9a.5.5 0 0 1 0 1h-9a.5.5 0 0 1-.5-.5zM3 6a.5.5 0 0 1 .5-.5h9a.5.5 0 0 1 0 1h-9A.5.5 0 0 1 3 6zm0 2.5a.5.5 0 0 1 .5-.5h5a.5.5 0 0 1 0 1h-5a.5.5 0 0 1-.5-.5z"/>
      </svg>
    </h2>
    <div class="table-responsive">
        <table class="table table-sm">
            <thead style="background: #398AB9;">
                <tr>
                  <th>Ticket#</th>
                  <th>Creado</th>
                  <th>Actualizado</th>
                  <th>Estado</th>
                  <th>Tipo de Falla</th>
                  <th>Departamento</th>
                  <th colspan="2">Opciones</th>
                </tr>
            </thead>
            <tbody>
                  {% for ticket in tickets %}
                <Tr>
                   <td>{{ticket.codigo_tick}}</td>
                   <td>{{ticket.fecha_creac}}</td>
                   <td>{{ticket.fecha_act}}</td>
                   <td>{{ticket.estatus}}</td>
                   <td>{{ticket.tipo_falla}}</td>
                   <td>{{ticket.departamento_cod}}</td>
                   <td><a href="editarTicket/{{ticket.codigo_tick}}" class="btn btn-info">Editar</a></td>
                   <td><a href="eliminarTicket/{{ticket.codigo_tick}}" class="btn btn-danger btnEliminar">Eliminar</a></td>

                </Tr>
                {% endfor %}
            </tbody>
        </table>
    </div>

{% else %}
   
   <p>No existe el Ticket</p>

{% endif %}
</section>

{% load static %}

{% endblock %}