{% extends "SistemaGarantia/base.html" %} {% load static %} {% block content %}

<!-- ======= About Section ======= -->
<section id="about">
  <div class="container" data-aos="fade-up">
    <div class="row about-container">
      <div class="col-lg-6 content order-lg-1 order-2">
        <h2 class="title" id="titulo">Conoce sobre nosotros 
          </h2>
        <p>
          Somos una empresa venezolana confiable y segura, ubicada en Barquisimeto,
          estado Lara, que cuenta con prestigio y experiencia desde 2010 en la
          comercialización de equipos para el hogar de las mejores y reconocidas marcas.
        </p>

        <div class="icon-box" data-aos="fade-up" data-aos-delay="100">
          <div class="icon"><i class="bi bi-house"></i></div>
          <h4 class="title"><a href="">Misión</a></h4>
          <p class="description">
            Proporcionar a nuestros clientes gran variedad de modelos de las
            mejores marcas en equipos para el hogar, con precios justos y una
            atención profesional y personalizada.
          </p>
        </div>

        <div class="icon-box" data-aos="fade-up" data-aos-delay="200">
          <div class="icon"><i class="bi bi-award"></i></div>
          <h4 class="title"><a href="">Visión</a></h4>
          <p class="description">
            Ser una de las mejores empresas en el mercado Nacional, con un
            crecimiento sostenido, logrando ser para nuestros clientes la mejor
            opción.
          </p>
        </div>

        <div class="icon-box" data-aos="fade-up" data-aos-delay="300">
          <div class="icon"><i class="bi bi-heart-half"></i></div>
          <h4 class="title"><a href="">Valores</a></h4>
          <p class="description">
            Honestidad, seriedad, confianza, calidez, responsabilidad,
            compromiso, respeto, calidad, lealtad.
          </p>
        </div>
      </div>

      <div
        class="col-lg-6 background order-lg-2 order-1"
        data-aos="fade-left"
        data-aos-delay="100"
      ></div>
    </div>
  </div>
</section>
<!-- End About Section -->


{% endblock %}
